
*.xcuserstate
Transactions/Transactions.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Transactions/Transactions.xcodeproj/xcuserdata/elvira.scablinska.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Transactions/Transactions.xcodeproj/xcuserdata/elvira.scablinska.xcuserdatad/xcschemes/xcschememanagement.plist
